---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="Contact" sideBarActiveItemID="contact">
  <div class="mb-5 w-full lg:w-[900px]">
    <div class="text-3xl w-full font-bold">Contact</div>
  </div>
  <div class="mb-10 text-justify">
    Email: <a href="mailto:heyihelen.han@gmail.com">heyihelen.han@gmail.com</a>
  </div>
</BaseLayout>
