---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts;
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold mb-3">Helen (Heyi) Han</div>
    <!-- <div class="text-2xl py-3 font-bold">High School Student, Speaker, Artist</div> -->
    <div class="py-2">
      <p class="text-lg mb-2">
       👋 Hi! I’m Helen — a high school student who loves exploring the power of <b>creativity</b>, <b>communication</b>, and <b>cultural connection</b>. I’ve always believed that stories can bring people together, whether through music, art, or words. 
      </p>
      <p class="text-lg mb-2">
        I gave my first <a class="link" target="_blank" href="https://www.youtube.com/watch?v=kQLx9FkPokQ"><b>TEDx Talk</b></a> at eleven and have since continued sharing ideas that spark empathy and understanding.
      </p>
      <p class="text-lg mb-2">
        Beyond school, I volunteer as a bilingual speaker for <a class="link" href="/experiences/art-as-history"><b>Huá Tóng Huà</b></a>, a storytelling series sharing Chinese American immigrant experiences, and represented youth voices at the <a class="link" href="/experiences/our-voices-our-history"><b>Chinese American Convention in Washington, D.C.</b></a> in 2024.
      </p>
      <p class="text-lg mb-2">
        Now, I’m creating <a class="link" href="/experiences/using-the-future-to-tell-the-past"><b>AI-assisted documentaries</b></a> that blend technology and storytelling to celebrate heritage and connect communities across generations.
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-5">My Experiences</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/experiences/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
