---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts;
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold mb-3">Helen (Heyi) Han</div>
    <!-- <div class="text-2xl py-3 font-bold">High School Student, Speaker, Artist</div> -->
    <div class="py-2">
      <p class="text-lg mb-2">
       👋 My name is Helen, and I’m a high school student who is passionate about <b>communication</b>, <b>creativity</b>, and <b>cultural connection</b>. 
      </p>
      <p class="text-lg mb-2">
       👋 From music and art to debate and documentary storytelling, I love exploring how ideas can inspire empathy and change.
      </p>
      
      <p class="text-lg mb-2">
        At age eleven, I gave a <a class="link" target="_blank" href="https://www.youtube.com/watch?v=kQLx9FkPokQ"><b>TEDx Talk</b></a> that sparked my love for public speaking and sharing ideas that matter. In high school, I continued this journey through debate and public speaking competitions, where I learned how to think critically, speak with purpose, and listen with empathy.
      </p>
      <p class="text-lg mb-2">
        Beyond school, I volunteer as a bilingual speaker for the project <a class="link" href="/experiences/our-voices-our-history"><b>"Our Voice, Our History"</b></a>, a storytelling series sharing Chinese American immigrant experiences, and representing youth voices at the Chinese American Convention in Washington, D.C.
      </p>
      <p class="text-lg mb-2">
        These experiences inspired me to create <a class="link" href="/experiences/using-the-future-to-tell-the-past"><b>AI-assisted documentaries</b></a> that capture the voices and experiences of Chinese immigrants—combining technology and storytelling to preserve cultural memory for future generations.
      </p>
      <p class="text-lg mb-2">
        Whether performing, creating, or filming, I hope my work continues to build bridges between cultures and generations, through the power of stories and sharing.
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-5">My Experiences</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/experiences/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
